/*!
 * Bootstrap
 * The Makers
 * Love.
 */

body {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #fff;
  background: #0e0240;
  background-size: contain;
}
p {
  font-size: 22px;
}
p.small {
  font-size: 16px;
}

.role {
  font-size: 18px;
}

ul.logofans li {
  display: inline;
  list-style-type: none;
  padding-right: 50px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #fff;
  outline: none;
}
h1,
h2,
h5,
h6 {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #00ec46;
  text-align: center;
}

#join div.container div.row.email div.col-lg-12.text-center h3 {
  text-transform: none;
}

h4 {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background-image: linear-gradient(-180deg, #060225, #0f0340);
}

header .container: {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 0px;
}
header .intro-text .name {
  display: block;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  text-shadow: 2px 4px 20px #924df9;
}
header .intro-text .skills {
  font-size: 2.25em;
  font-weight: 300;
}

h3.beta {
  /* padding-top: 5em; */
}

.beta {
  color: #f10899;
}

img.img-responsive.beta {
  padding-top: 10em;
}

#who img,
#how img,
#why img,
#features img,
#community img,
#side img {
  display: block;
  margin: 0 auto 20px;
}

#join img {
  display: block;
  margin: 40px auto 0px;
}

#who p,
#how p,
#why p,
#community p {
  padding: 0 8em;
}
#who {
  color: #ff3366;
  background: url('../images/img-who_bg.png') no-repeat 50% 30px;
}

#community {
  color: #005ff5;
  background: url('../images/img-world.png') no-repeat 60% 250px;
  padding-top: 5em;
}

#how {
  color: #9012fe;
  background: url('../images/img-how_bg.png') no-repeat 50% 30px;
}

#why {
  color: #bd0fe1;
  background: url('../images/img-why_bg.png') no-repeat 50% 50%;
}

#team {
  color: #ff3366;
  background: url('../images/img-team_bg.png') no-repeat 47% 50%;
  background-size: 50%;
  font-variant: small-caps;
}

#join {
  padding-top: 6em;
  color: #fff;
}

#side {
  height: auto;
  background: url('../images/img-footer.png') no-repeat center bottom;
  background-size: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
}

#side img-responsive side {
  box-shadow: -webkit-box-shadow 0 8px 6px -6px #09012a;
  -moz-box-shadow: 0 8px 6px -6px #09012a;
  box-shadow: 0 8px 6px -6px #09012a;
  margin-bottom: 7em;
  margin-top: 0;
}

#side p {
  color: #9012fe;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#side div.container div.row.col-sm-12.text-center ul li {
  display: inline;
  padding: 0.6em 1.5em;
  margin-right: 2em;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: #bd3266;
  border-radius: 40px;
  opacity: 0.9;
  border: 1px solid #ee50aa;
}
#side div.container div.row.col-sm-12.text-center ul li:hover {
  opacity: 1;
  background: #791c5b;
  text-decoration: none;
}

.fa,
.far,
.fas,
.fab {
  padding-right: 2px;
}

#side div.container div.row.col-sm-12.text-center ul a:focus,
a:hover {
  text-decoration: none;
}

#side div.container div.row.col-sm-12.text-center ul {
  margin-left: -4em;
  margin-top: 2em;
}

.logo {
  transition: all 0.3s ease;
}

.logo:hover {
  opacity: 0.5 !important;
  transition: all 0.3s ease;
}

#side .theside {
  box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 4em;
}

#side .logo {
  margin-bottom: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.media {
  padding: 3em 0;
}

.media h4 {
  padding-bottom: 1em;
}

#mailchimp {
  background: none;
  color: #3d6392;
  padding: 20px 15px;
}

#mailchimp input {
  border: none;
  color: #fffd5f;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 60%;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

input#mc-embedded-subscribe.button {
  width: 8em;
  margin-left: 0.5em;
}

#join div.container div.row.email {
  background: #0f063e;
  border-radius: 10px;
  padding: 1em 0;
}

#mailchimp input.email {
  background: #201e4f;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  font-size: 13px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-size: 13px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-size: 13px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-size: 13px;
}

#mailchimp input[type='submit'] {
  background: #ff3366;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#mailchimp input[type='submit']:hover {
  color: #000;
  background: #aaee5d;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
.navbar-custom {
  background-image: linear-gradient(-180deg, #0f0340, #060225);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  height: 10px;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
  color: #f10899;
  opacity: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.navbar-custom .navbar-nav li a.join {
  color: #fffd5f;
}

.navbar-custom .navbar-nav li a:hover {
  opacity: 0.5 !important;
  color: #ffffff;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: none;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: none;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #f10899;
  color: white;
  border-color: #18bc9c;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 0.6em;
  }
  .navbar-custom.affix {
  }
}
section {
  padding: 45px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
  padding-bottom: 0.5em;
}

#community div.container div.row.col-lg-12.text-center h2 {
  padding-bottom: 1em;
}

#community div.container div.row.col-lg-12.text-center div.col-sm-6.text-left {
  padding-right: 3em;
  padding-left: 2em;
}

#features {
  padding-top: 0;
  color: #f10899;
  padding-bottom: 0;
}

#team div.container div.row.col-sm-12.text-center h3 {
  padding-bottom: 1em;
}

@media (max-width: 767px) {
  ul.nav.navbar-nav.navbar-right {
    background: #0e0240;
  }

  #who p,
  #how p,
  #why p,
  #community p {
    padding: 0 1em;
  }

  header .container {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  section {
    padding: 55px 0;
  }
  section.first {
    padding-top: 45px;
  }
  #team
    div.container
    div.row.col-sm-12.text-center
    div.text-center.col-sm-2
    img {
    padding-left: 60px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18bc9c;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2c3e50;
  border-color: #2c3e50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-primary .badge {
  color: #2c3e50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18bc9c;
  border-color: #18bc9c;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.btn-success .badge {
  color: #18bc9c;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2c3e50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2c3e50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

#downloadios {
  background-image: url(../images/img-downloadios.png);
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 310px;
  height: 130px;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

#page-top header div.container div.row div.col-lg-12 div.intro-text p {
  color: #8c3eff;
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
